section.title {

    min-height: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .page-header-left {
        padding: 0;
        h3 {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 33px;
        }
    }

    .page-header-right {
        padding: 0;
        text-align: right;
    }
}
