<section class="container title">
    <!-- Title -->
    <div class="page-header-left col-xs-10">
        <h3>{{ sheet?.name }}</h3>
    </div>
    <div class="page-header-right col-xs-2">
        <button class="btn btn-info" (click)="memberModal.show()">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span class="hidden-xs">Member</span>
        </button>
    </div>
    <div class="clearfix"></div>
</section>

<section class="container control">
    <!-- Control -->
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12 date">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                    <input type="date" class="form-control"
                           id="record-date" [ngModel]="today | date:'yyyy-MM-dd'"
                           [ngModelOptions]="{standalone: true}"
                           [value]="today | date:'yyyy-MM-dd'">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-leaf"></i>
                    </span>
                    <input type="text" class="form-control" id="record-title" placeholder="Title">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6 payer">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <select class="form-control" id="record-payer">
                        <ng-container *ngIf="sheet">
                            <option disabled style="display:none;"></option>
                            <option *ngFor="let person of sheet.members">{{ person.name }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="col-xs-6 amount">
                <div class="input-group">
                   <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input type="number" inputmode="numeric" pattern="[0-9]*" class="form-control" id="record-amount" placeholder="Amount">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 people">
                <div class="people-header clearfix">
                    <div class="col-xs-6 left">
                        <i class="fa fa-users"></i> People
                    </div>
                    <div class="col-xs-6 right">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Equally
                            </label>
                        </div>
                    </div>
                </div>
                <div class="people-body">
                    <select multiple class="form-control" id="record-people">
                        <ng-container *ngIf="sheet">
                            <option *ngFor="let person of sheet.members">{{ person.name }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </form>
</section>

<section class="container">
    <!-- Body -->
    <div *ngFor="let section of sections">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{ section.date }}</h3>
            </div>
            <div class="panel-body">
                <div *ngFor="let record of section.records">
                    <p>{{ record.title }}</p>
                    <p>{{ record.amount }}</p>
                    <p>{{ record.payer.name }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="model">
    <!-- modal -->
    <div class="modal" bsModal #memberModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Members</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="memberModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="add-member">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" #name class="form-control" placeholder="Name">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary"
                                            (click)="addMember(name.value); name.value=''; name.focus()">
                                        <i class="fa fa-plus"></i> Add
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <ng-container *ngIf="sheet">
                        <div class="member-list" *ngFor="let member of sheet.members">
                            <span class="member-column member-icon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <span class="member-column member-name">{{ member.name }}</span>
                            <span class="member-column member-remove">
                                <button class="btn btn-danger btn-xs" (click)="removeMember(member)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </span>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>
