section.title {

    min-height: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .page-header-left {
        padding: 0;
        h3 {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 33px;
        }
    }

    .page-header-right {
        padding: 0;
        text-align: right;
    }
}

section.control {

    min-height: 37rem;
    height: calc(100vh - 12rem);

    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #CCEEFE;
    border: 1px #bbdded solid;
    border-left-width: 0;
    border-right-width: 0;

    form.form-horizontal {
        .form-group {
            div.date {
                padding-top: 0;
                padding-bottom: 0;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

            div.payer {
                padding-right: 7.5px;
            }

            div.amount {
                padding-left: 7.5px;
            }

            div.people {
                .people-header {
                    background-color: #EEEEEE;
                    padding-top: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-width: 0;

                    .col-xs-6 {
                        padding-left: 6px;
                        padding-right: 6px;

                        &.left {
                            text-align: left;
                        }

                        &.right {
                            text-align: right;

                            input[type=checkbox] {
                                margin-right: -16px;
                            }
                        }

                    }

                    div.checkbox  {
                        padding: 0;
                    }
                }

                .people-body {
                    .record-people {
                        padding: 5px;
                        max-height: calc(100vh - 390px);
                        overflow-y: scroll;
                        background-color: white;
                        border-radius: 5px;
                        border: 1px solid #ccc;
                        border-top-right-radius: 0;
                        border-top-left-radius: 0;

                        .record-people-row {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }

                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
            .input-group-addon {
                padding: 3px 6px;
            }
        }
    }
}

.modal {
    .modal-body {
        background-color: #EEEEEE;
        .add-member {
            .form-group {
                margin-bottom: 0;
            }
            .input-group-btn {
                button.btn {
                    height: 34px;
                }
            }
        }
    }
    .modal-footer {

        padding: 0;
        padding-bottom: 15px;
        max-height: calc(100vh - 142px);
        overflow-y: scroll;

        .member-list {

            padding: 2px 15px;
            line-height: 3rem;
            vertical-align: middle;
            padding-top: 8px;
            min-height: 34px;
            border-bottom: 1px #EEEEEE solid;
            padding-bottom: 8px;

            .member-column {
                display: table-cell;
                vertical-align: middle;

                &.member-name {
                    width: 100%;
                    padding-left: .5rem;
                    padding-right: .5rem;
                    text-align: left;
                    line-height: 2rem;
                }

                &.member-remove {
                    @media (min-width: 500px) {
                        button.btn-danger:after {
                            content: "Remove";
                        }
                    }
                }
            }

            button.btn.btn-xs {
                float: right;
                font-size: 11px;
                padding: 0 5px;
            }
        }
    }
}
