.people-selector {

    .record-people-row {
        margin-bottom: .5rem;
        &.unselected {
            opacity: 0.5;
            box-shadow: lightgrey 0 0 5px 5px;
            background: lightgray;
        }
    }

    .record-people-amount {
        float: unset;
        width: 33.33333%;
        margin-left: .5rem;
        margin-right: .5rem;
        display: inline-block;
    }
}
