.people-selector {

    .record-people-row {
        margin-bottom: .5rem;
    }

    .record-people-amount {
        float: unset;
        width: 33.33333%;
        margin-left: .5rem;
        margin-right: .5rem;
        display: inline-block;
    }
}
