<div class="people-header clearfix">
    <div class="col-xs-6 left">
        <i class="fa fa-users"></i> People
    </div>
    <div class="col-xs-6 right">
        <div class="checkbox">
            <label>
                <input type="checkbox" tabindex="-1"> Equally
            </label>
        </div>
    </div>
</div>
<div class="people-body">
    <ng-container *ngIf="sheet">
        <div class="record-people">
            <div class="record-people-row" *ngFor="let person of sheet.members; let i = index">
                <input type="checkbox" checked="checked" id="{{ 'record-people-' + i }}">
                <label for="{{ 'record-people-' + i }}">{{ person.name }}</label>
            </div>
        </div>
    </ng-container>
</div>
