#get-start {
    .jumbotron {

        margin-bottom: 0;

        input#name {
            display: inline-block;
            width: auto;
            vertical-align: bottom;
        }
    }
}

footer {
    height: 6em;
}
