section.records {
    background-color: #DFFAD5;

    .record-group {
        margin-top: 20px;
        border: 1px solid #ACE89C;
        border-left: none;
        border-right: none;

        .group-title {
            margin-top: 10px;
            color: #3C874C;
        }

        .record-row {
            display: flex;
            border-top: 1px solid #ace89c;

            .record-left {
                display: flex;
                width: 15px;
                margin-left: -10px;
                i.glyphicon {
                    display: flex;
                    align-items: center;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .record-right {
                display: flex;
                width: 15px;
                margin-right: -10px;
                i.glyphicon {
                    display: flex;
                    align-items: center;
                    color: red;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .record-info {
                display: inline-block;
                width: 100%;
                padding: 0 .5rem;

                p {
                    margin: 10px 0;
                }

                .record-tag {
                    background-color: lightblue;
                    padding: 3px;
                    display: inline-block;
                    height: 28px;
                    border-radius: 5px;
                    line-height: 20px;

                    .record-payer {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

