section.records {
    .record-group {
        margin-top: 20px;
        border: 1px solid #ACE89C;
        border-left: none;
        border-right: none;
        background-color: #DFFAD5;

        .group-title {
            margin-top: 10px;
            color: #3C874C;
        }
    }
}

